mixin text()
	+b.text.ui.text.container&attributes(attributes)
		h1 Заголовок страницы

		p Когда эксцентричную молодую женщину ошибочно принимают за ее мертвую сестру-близнеца, она цепляется за эту возможность оставить свое жалкое существование и начать жить ее жизнью…
		p Овдовевшая Росария Паронди и четверо её сыновей решают переехать из нищей Сицилийской деревни в Милан, где живёт пятый сын. В поисках лучшей доли и достойного заработка братья не гнушаются никакой работы. Постепенно каждый находит своё место.

		p
			| Но
			a(href='https://new.vk.com/feed?w=wall-69275738_199543') отношения
			| &nbsp;
			| в некогда сплоченной семье раскалываются: красавец Рокко вступает в противоборство со своим жестоким братом Симоном. «Яблоком раздора» становится девушка легкого поведения Надя, решившая оставить работу и выйти замуж. Именно ее расположения добиваются братья. Ожесточённая вражда способна завести их слишком далеко, вплоть до убийства…

		h2 Cлучайные товары

		block
